In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import numpy as np

In [3]:
df = pd.read_csv('data.csv')
input_cols = df.iloc[:, :4] # extract the first four columns
output_cols = df.iloc[:, -3:] # extract the last three columns

In [4]:
input_cols

      date  hour  min  sec
0       15    16    0   35
1       15    16    1   33
2       15    16    2   33
3       15    16    3   22
4       15    16    4   26
...    ...   ...  ...  ...
9618    22    16   21    1
9619    22    16   22    9
9620    22    16   23   16
9621    22    16   24   23
9622    22    16   25   32

[9623 rows x 4 columns]

In [38]:
output_cols

      Temperature    pH  Turbidity
0           20.99  7.81        197
1           20.99  7.81        197
2           20.98  7.81        197
3           20.98  7.81        197
4           20.98  7.81        197
...           ...   ...        ...
9618        21.32  7.49        212
9619        21.32  7.49        212
9620        21.34  7.49        212
9621        21.34  7.50        212
9622        21.31  7.51        212

[9623 rows x 3 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(input_cols, output_cols, test_size=0.25)

In [40]:
y_train.shape

(7217, 3)

Artificial Neural Network Architecture

In [6]:
quality_model = Sequential()
quality_model.add(Dense(4, input_dim=4, activation='relu'))
quality_model.add(Dense(6, activation='relu'))
quality_model.add(Dense(3, activation='linear'))

In [7]:
quality_model.compile(
   loss = 'mse', optimizer = 'adam', metrics = ['accuracy']
)

In [8]:
quality_model.fit(X_train, y_train, epochs=10, batch_size=10, verbose=1)

Epoch 1/10
722/722 [==============================] - 2s 1ms/step - loss: 3970.5120 - accuracy: 0.9182
Epoch 2/10
722/722 [==============================] - 1s 1ms/step - loss: 721.8932 - accuracy: 1.0000
Epoch 3/10
722/722 [==============================] - 1s 1ms/step - loss: 301.2065 - accuracy: 1.0000
Epoch 4/10
722/722 [==============================] - 1s 1ms/step - loss: 135.5304 - accuracy: 1.0000
Epoch 5/10
722/722 [==============================] - 1s 2ms/step - loss: 103.4390 - accuracy: 1.0000
Epoch 6/10
722/722 [==============================] - 1s 2ms/step - loss: 100.7632 - accuracy: 1.0000
Epoch 7/10
722/722 [==============================] - 1s 2ms/step - loss: 100.0026 - accuracy: 1.0000
Epoch 8/10
722/722 [==============================] - 1s 2ms/step - loss: 98.9257 - accuracy: 1.0000
Epoch 9/10
722/722 [==============================] - 1s 2ms/step - loss: 97.8326 - accuracy: 1.0000
Epoch 10/10
722/722 [==============================] - 1s 2ms/step - loss: 97.3296 - accuracy: 1.0000

In [9]:
test_case = np.array([[15, 16, 5, 21]])

In [10]:
quality_model.predict(test_case)

1/1 [==============================] - 0s 89ms/step

array([[ 17.338556 ,   6.5726824, 178.02855  ]], dtype=float32)

In [ ]:
20.97	7.81	197